@charset "UTF-8";
html {
	height: 100%;
}
body {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-family: 'CSPraKasFDRegular';
	font-size: 16px;
	height: 100%;
}
/* Div */
.servicelist {
	width: 250px;
	height: 280px;
	text-align: center;
	font-family: 'thai_sans_lite_reg';
	font-size: 36px;
}
#all {
	display: none;
}
.topbar {
	width: 100%;
	height: 50px;
	background-color: #222;
	padding: 0px;
	margin: 0px;
}
#sidebar {
	width: 50px;
	background-color: #222;
	padding: 0px;
	margin: 0px;
}
#hidsidebar {
	width: 150px;
	background-color: #222;
	padding: 0px;
	margin: 0px;
	position: absolute;
	left: 50px;
	top: 50px;
	z-index: 1;
	display: none;
}
.inhid {
	width: 150px;
	height: 50px;
	vertical-align: middle;
	line-height: 50px;
	font-size: 20px;
	color: #fff;
	padding: 0px 0px 0px 5px;
}
#main {
	padding: 0px;
	margin: 0px;
	overflow: auto;
}
.icon {
	border-width: 0px;
	margin: 0px;
	padding: 0px;
	width: 50px;
	height: 50px;
	display: inline-block;
}
#wide {
	border-width: 0px;
	margin: 0px;
	padding: 0px;
	width: calc(100% - 100px);
	height: 50px;
	display: inline-block;
}
.high {
	border-width: 0px;
	margin: 0px;
	padding: 0px;
	width: 50px;
	display: inline-block;
}
#menu {
	background-color: #444;
}
.icon:hover, .inhid:hover {
	background-color: rgba(255, 255, 255, .15);
}
.icon:active, .inhid:active {
	background-color: rgba(255, 255, 255, .3);
}
.title {
	height: 50px;
	display: inline-block;
	font-family: 'thai_sans_lite_reg';
	font-size: 32px;
	padding: 0px 10px 0px 10px;
	margin: 0px;
	overflow: hidden;
}
#mainleft, #mainright {
	margin: 0px;
	padding: 0px;
	overflow: auto;
}
.groupmenu {
	margin: 0px;
	padding: 0px 5px 5px 5px;
	font-size: 28px;
	font-family: 'thai_sans_lite_reg';
	border-bottom-style: solid;
	border-bottom-width: 1px;
	height: 40px;
	overflow: hidden;
}
.lessonlist {
	margin: 0px;
	border-bottom-style: solid;
	border-bottom-color: #aaa;
	border-bottom-width: 1px;
	height: 25px;
	padding-left: 20px;
}
.groupbutton {
	width: 450px;
	margin: 0px auto 0px auto;
	padding: 0px;
}
.button {
	margin: 0px;
	padding: 0px;
	width: 150px;
	height: 150px;
}
.grouplist {
	margin: 0px;
	padding: 0px 5px 5px 5px;
	font-size: 28px;
	font-family: 'thai_sans_lite_reg';
	border-bottom-style: solid;
	border-bottom-color: #ccc;
	border-bottom-width: 1px;
	height: 40px;
}
.list {
	margin: 0px;
	padding: 0px 0px 5px 10px;
}
.list h3 {
	border-bottom-style: solid;
	border-bottom-color: #aaa;
	border-bottom-width: 1px;
}
.list li {
	padding: 0px 0px 0px 10px;
	display: none;
}
.groupicon {
	width: 200px;
	height: 200px;
	padding: 10px;
	display: inline-block;
	font-family: 'thai_sans_lite_reg';
	font-size: 20px;
}
.groupicon .image {
	width: 200px;
	height: 176px;
	padding: 0px;
	margin: 0px;
}
.groupicon .name {
	width: 170px;
	height: 30px;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	display: inline-block;
}
.groupicon .number {
	width: 30px;
	height: 30px;
	text-align: right;
	padding: 0px;
	margin: 0px;
	display: inline-block;
}
.textbox, .clicktextbox {
	margin: 0px;
	padding: 0px 5px 5px 5px;
}
#managecard {
	padding: 0px;
}
#managecard tr:nth-child(1), #cardtable tr:nth-child(1) {
	font-family: 'thai_sans_lite_reg';
	font-size: 20px;
}
.editcardform, .lessongroup {
	display: none;
}
#darkoutside {
	z-index: 1;
	margin: 0px;
	text-align: center;
	background-color: rgba(0, 0, 0, .7);
	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
}
#center {
	position: fixed;
	width: 400px;
	height: 200px;
	left: 50px;
	top: 50px;
	padding: 0px 5px 5px 5px;
	vertical-align: middle;
	line-height: 40px;
}
.msg {
	margin: 0px;
	padding: 5px;
	font-weight: bold;
}
#wordlist_left {
	margin: 0px;
	overflow: auto;
}
#cardlist_left {
	margin: 0px;
	overflow: auto;
	text-align: center;
}
#random_left {
	margin: 15px 50px 15px 50px;
	overflow: auto;
}
.popup_button {
	display: inline-block;
}
.card {
	padding: 0px;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 160px;
	display: inline-block;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
	text-align: left;
}
.qatitle {
	font-size: 14px;
	padding: 3px 3px 0px 3px;
}
.qbox {
	height: 30px;
	margin: 0px 3px 3px 3px;
	padding: 0px;
	font-size: 16px;
}
.abox {
	height: 30px;
	margin: 0px 3px 3px 3px;
	padding: 2px;
	font-size: 14px;
}
.abox:hover {
	background-color: rgba(0, 0, 0, .3);
}
.abox:active {
	background-color: #000;
}
.dark {
	background-color: #000;
	color: #000;
}
.qa {
	margin: 0px;
	padding: 5px;
	width: 240px;
	height: 150px;
	border-radius: 5px;
}
.insideqa {
	margin: 0px;
	padding: 0px;
	font-size: 22px;
}
.h4click {
	margin: 0px;
	padding: 0px 5px 5px 5px;
}
/* Tags */
h1, h2, h3, h4 {
	letter-spacing: 1px;
	word-spacing: 2px;
	margin: 5px;
	padding: 0px;
	font-weight: normal;
	text-decoration: none;
	font-family: 'thai_sans_lite_reg';
}
h1 {
	font-size: 36px;
}
h2 {
	font-size: 32px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 24px;
}
h6, p {
	letter-spacing: 0px;
	word-spacing: 1px;
}
h6 {
	font-size: 13px;
	color: #7F7F7F;
	font-weight: normal;
	text-decoration: none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
}
p {
	margin: 5px;
	padding: 0px;
	font-weight: normal;
	text-decoration: none;
	font-size: 16px;
}
img {
	border-width: 0px;
}
a:link {
	text-decoration:none;
	color:#03F;
}
a:hover {
	text-decoration:none;
	color:#03F;
}
a:active {
	text-decoration:none;
}
a:visited {
	text-decoration:none;
	color:#03F;
}
/* Form */
input[type=text], input[type=email], input[type=password], textarea {
	padding: 3px;
}
input[type=text]:hover, input[type=email]:hover, input[type=password]:hover, textarea:hover {
	border: #666 2px solid;
}
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, textarea:focus {
	border: #333 2px solid;
}
input[type=button], input[type=submit], input[type=reset] {
	font-family: 'CSPraKasFDRegular';
	font-size: 16px;
	background-color: #F0F0F0;
	padding: 3px;
	border: #333 2px solid;
}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
	background-color: #FFFFFF;
}
input[type=button]:active, input[type=submit]:active, input[type=reset]:active {
	background-color: #333333;
	color: #FFFFFF;
}
/* Font */
@font-face {
    font-family: 'thai_sans_lite_reg';
    src: url('../fonts/thaisanslite_r1.eot');
    src: url('../fonts/thaisanslite_r1.eot?#iefix') format('embedded-opentype'),
         url('../fonts/thaisanslite_r1.woff') format('woff'),
         url('../fonts/thaisanslite_r1.ttf') format('truetype'),
         url('../fonts/thaisanslite_r1.svg#circularbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CSPraKasFDRegular';
    src: url('../fonts/csprakasfd.eot');
    src: url('../fonts/csprakasfd.eot?#iefix') format('embedded-opentype'),
         url('../fonts/csprakasfd.woff2') format('woff2'),
         url('../fonts/csprakasfd.woff') format('woff'),
         url('../fonts/csprakasfd.ttf') format('truetype'),
         url('../fonts/csprakasfd.svg#CSPraKasFDRegular') format('svg');
}
